html {
	background-color: #21608f;
	font-family: sans-serif;
}

.background_text{
	position: absolute;
	top: 0;
	z-index: -1;
	margin: 0;
}

h1, h2{
	margin:0;
}

h1 {
	font-size: 15vw;
	color: #ccc;
}

h2 {
	font-size: 11vw;
	color: #333;
}

p {
	margin: 0;
}

.controls {
	padding: 4vw;
	margin: 10vw auto;
	width: 75%;

	border: 5px solid #333;
	border-radius: 1em;

	opacity: 0.1;

	background-color: rgba(255,255,255,0.7);
	box-shadow: 3px 3px 5px #222;

	transition: 0.8s ease-in-out;
}

.controls:hover, .controls:focus {
  opacity: 1;
}

.controls label, .controls p, .controls input {
	font-size: 3vw;
}

.controls div {
  padding-bottom: 1rem;
}

.controls input{
	padding: 1vw;
}

